<section class="bg-background p-8  md:p-16 md:pt-0 pt-0 ">
  <div class="flex justify-center items-center gap-12 min-h-screen">
    <div class="text-center text-white grid gap-6 max-w-3xl">
      <h1 class="text-[56px] font-black mb-6 leading-heading text-shadow-primary">
        Discover the magic of our surprise box
      </h1>
      <p class="text-2xl font-bold leading-paragraph">
        Unleash your child's curiosity with our educational subscription box filled with fun and learning.
      </p>
      <app-subscribe-button (onClick)="navigateToSubscription()"></app-subscribe-button>
    </div>
  </div>

  <div class="w-full">
    <img src="assets/imgs/Placeholder Image.png" alt="Stack of colorful gift boxes"
      class="w-full h-auto object-contain">
  </div>
</section>